body, html, #root {
    width: 100%;
    overflow: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FBEEC1
}
.chessBoardContainer {
    display: flex;
    gap: 50px;
    
}
.chessBoard {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    min-width: 720px;
    border: 2px solid #374785
    
}

.whiteCell {
    background-color: #FBEEC1
}
.blackCell {
    background-color: #374785
}
.whiteCell, .blackCell {
    color: #C43300;
    width: 90px;
    height: 90px;
    
}
.cellPara {
    margin: 0 5px;
}
.knightImage {
    margin: -20px 0 0 -12px;
    
}
#validPlace {
    background-color: greenyellow;
}
.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}
.positionForm {
    display: flex;
    flex-direction: column;
    height: 20vh;
    gap: 20px
}
.controlButtons{
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #374785;
    color: #FBEEC1;
    font-size: large;
    border: none;
    border-radius: 5px;
}
.enter {
    color: #C43300;
}
.controlButtons:hover{
    text-decoration: underline;
    background-color: #24305E;
}