body, html, #root {
    width: 100%;
    overflow: scroll;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chessBoardContainer {
    display: flex;
    gap: 50px;
    
}
.chessBoard {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    min-width: 720px;
    border: 2px solid black;
    
}

.whiteCell {
    background-color: white
}
.blackCell {
    background-color: gray
}
.whiteCell, .blackCell {
    color: blue;
    width: 90px;
    height: 90px;
    
}
.cellPara {
    margin: 0 5px;
}
.knightImage {
    margin-left: 20px;
    
}
#validPlace {
    background-color: brown;
}
.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}
.positionForm {
    display: flex;
    flex-direction: column;
    height: 20vh;
    gap: 20px
}
.controlButtons{
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
}